[Unit]
Description=Docker Volume Plugin for rclone
Requires=docker.service update-rclone.service
Before=docker.service
After=network.target docker-volume-rclone.socket update-rclone.service
Wants=network-online.target docker-volume-rclone.socket update-rclone.service

[Service]
ExecStart=/usr/local/sbin/rclone-setup
Environment=RCLONE_CONFIG=/run/rclone-config/rclone.conf
Environment=RCLONE_CACHE_DIR=/var/lib/docker-plugins/rclone/cache
Environment=RCLONE_VERBOSE=1

[Install]
WantedBy=multi-user.target
