[Unit]
Description=Docker Volume Plugin for rclone
Requires=docker.service update-rclone.service
Before=docker.service
After=network.target
Requires=docker-volume-rclone.socket
After=docker-volume-rclone.socket

[Service]
ExecStartPre=/bin/mkdir -p /run/rclone-config
ExecStartPre=/sbin/mount -t tmpfs -o size=1M tmpfs /run/rclone-config
ExecStartPre=/bin/mkdir -p /var/lib/docker-volumes/rclone
ExecStartPre=/bin/mkdir -p /var/lib/docker-plugins/rclone/cache
ExecStartPre=/usr/local/sbin/rclone-setup
ExecStart=/usr/bin/rclone serve docker
Environment=RCLONE_CONFIG=/run/rclone-config/rclone.conf
Environment=RCLONE_CACHE_DIR=/var/lib/docker-plugins/rclone/cache
Environment=RCLONE_VERBOSE=1

[Install]
WantedBy=multi-user.target
